#app {
    /*height: 100%;*/
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.layout {
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1560px;
    width: 100%;
    @media screen and (max-width: 1199px) {
        max-width: 970px;
    }
    @media screen and (max-width: 992px) {
        max-width: 750px;
    }
    @media screen and (max-width: 768px) {
        max-width: none;
    }
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    padding: 45px 0;
}

.login input, button {
    margin: 15px 0;
}

.login input, .p-password {
    width: 100%;
}

.login button, .p-float-label {
    width: 50%;
}

.p-float-label label {
    transform: translate(0, -50%);
}

.p-float-label:has(input:focus) label, .p-float-label:has(input.p-filled) label, .p-float-label:has(input:-webkit-autofill) label, .p-float-label:has(textarea:focus) label, .p-float-label:has(textarea.p-filled) label, .p-float-label:has(.p-inputwrapper-focus) label, .p-float-label:has(.p-inputwrapper-filled) label {
    top: -0.01rem;
    font-size: 12px;
}
